{% extends './base.html' %}

    <div class="container">
        <h1>Suggestion for new choices</h1>
    </div>

{% block content %}

<!-- login, logout button starts -->
{% if user.is_authenticated %}
        <li class="nav-item">
<h1> empty ahref </h1>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            href="{% url 'logout' %}">Logout</a>
          </li>

{% else %}

          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            href="{% url 'login' %}">Login</a>
          </li>

{% endif %}

<!-- login, logout button ends -->


<!-- list starts -->
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href={% url 'polls:detail' question.id %}>{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<!-- list ends -->

<!-- Pagination starts -->
<!-- <div style="text-align:left; margin: 1rem 0;">
    {% if page_obj.has_previous %}
    <a href="{% url 'polls:index' %}?page={{ page_obj.previous_page_number }}"
        class="btn btn-secondary rounded-pill">
        {{ page_obj.previous_page_number }}
    </a>
    {% endif %}
    <a href="{% url 'polls:index' %}?page={{ page_obj.number }}"
        class="btn btn-secondary rounded-pill active">
        {{ page_obj.number }}
    </a>
    {% if page_obj.has_next %}
    <a href="{% url 'polls:index' %}?page={{ page_obj.next_page_number }}"
        class="btn btn-secondary rounded-pill">
        {{ page_obj.next_page_number }}
    </a>
    {% endif %}
</div> -->
<!-- Pagination ends -->

{% endblock content %}
